* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }

body {
    background-color: #FFFFFF;
    font-family: 'Montserrat', sans-serif; 
}
.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
}

#nav-bar {
    align-items: center;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0px -3px 16px 8px rgba(0,0,0,0.2); 
    box-shadow: 0px -3px 16px 8px rgba(0,0,0,0.2);
    display: flex;
    justify-content: space-between;
    padding: 1em 3em;
    position: fixed;
    text-transform: uppercase;
    width: 100%;
    z-index: 999;
}

.nav-logo {
    align-items: center;
    display: flex;
    justify-content: center;
}

.logo {
    text-decoration: none;
    color: #134e4a;
    font-size: 1.5rem;
    font-weight: 800;
    letter-spacing: .1rem;
}


.nav-links li {
    list-style: none;
    font-size: 1.1rem;
    font-weight: 700;
    margin: .5em;
}

.nav-links {
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.home-page {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-weight: 800;
    height: 100vh;
    justify-content: center;
    overflow: hidden;
    max-height: 120rem;
    text-transform: uppercase;
    
}

.my-name {
    color: #134e4a;
}

.home-page h1 {
    font-size: 3rem;
}

.home-page p {
    font-weight: 700;
    font-size: 2rem;
}

.projects-button, .contact-button {
    box-shadow: 1px 14px 29px -14px rgba(0,0,0,0.49);
    -webkit-box-shadow: 1px 14px 29px -14px rgba(0,0,0,0.49);
    -moz-box-shadow: 1px 14px 29px -14px rgba(0,0,0,0.49);
    border: none;
    border-radius: .5rem;
    color: #f0fdfa;
    font-weight: 600;
    margin-top: 2rem;
    padding: 1rem;
    width: 10rem;
    text-transform: uppercase;
}
.projects-button {
    background-color: #134e4a;
}
.contact-button {
    background-color: #0f766e;
}

.projects-button:hover {
    background-color: #34d399;
}

.contact-button:hover {
    background-color: #34d399;
}

.arrow-down {
    position: relative;
    transform: translate(-50%, -50%);
    margin-top: 5rem;

}

.arrow-down span {
    display: block;
    width: 1.2em;
    height: 1.2rem;
    border-bottom: .4rem solid #115e59;
    border-right: .4rem solid #115e59;
    transform: rotate(45deg);
    margin: -10px;
    animation: scroll 2s infinite;
}

.arrow-down span:nth-child(2) {
    animation-delay: -.2s;
}

.arrow-down span:nth-child(3) {
    animation-delay: -.4s;
}

@keyframes scroll {
    0% {
        opacity: 1;
        transform: rotate(45deg) translate(-1rem, -1rem);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(1rem, 1rem);
    }
}



.animation-container {
    display: flex;
}

.txt-animation span {
    display: block;
    height: 100%;
    margin-left: 5px;
}

.txt-animation {
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    
}

#about-page {
    align-items: center;
    display: flex;  
    justify-content: center;
}

.left-about-section {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-weight: 600;
    justify-content: center;
    margin-right: 1rem;
    width: 45%;

}


.left-about-section h2 {
    margin-bottom: .5rem;
    text-transform: uppercase;
}

.right-about-section {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
}

.right-about-section h2 {
    text-transform: uppercase;
}

.top-skill-box{
    align-items: center;
    display: flex;
    margin: 1rem 0;
    width: 100%;
    justify-content: center;
}

.bottom-skill-box {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
}

.skill-box {
    align-items: center;
    border: .2rem solid #115e59;
    border-radius: .5em;
    color: #115e59;
    display: flex;
    flex-direction: row;
    font-weight: 700;
    height: 2rem;
    padding: 1.5rem;
    margin-right: 1rem;
    justify-content: center;
    width: 10rem;
    text-transform: uppercase;
}

.project-page {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    text-align: left;
}

.project-page-title {
    margin-bottom: 2rem;
    text-transform: uppercase;
}

.project-card-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.project-card {
    align-items: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 1.5rem;
    width: 20rem;
    height: 26rem;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	overflow: hidden;
}


.project-card img {
    max-width: 100%;
    max-height: 100%;
}

.project-caption {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    text-align: center;
}

.project-caption h3 {
    color: #134e4a;
    margin-bottom: .3rem;
    text-transform: uppercase;
}

.project-card:hover {
		box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.project-card button {
    background-color: #134e4a;
    border: none;
    border-radius: .5rem;
    color: #f0fdfa;
    margin: 1.5rem 0;
    padding: .5rem;
    width: 8rem;
}

.project-card button:hover {
    background-color: #34d399;
}

.project-caption:hover {
    bottom: 0;
}

.contact-me {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    text-align: left;
}

.fixed-socials {
    align-items: center;
    bottom: .1rem;
    color: black;
    display: flex;
    font-size: .8rem;
    justify-content: space-between;
    padding: 1rem;
    position: fixed;
    width: 100%;
}

.fixed-socials li {
    list-style: none;
}

.social-link svg {
    fill: #134e4a;
    width: 100%;
    height: 1.5rem;
}

.social-link svg:hover {
    fill: #34d399;
}

.social-list {
    align-items: center;
    display: flex;
    justify-content: center;
}

.social-list li {
    margin: .3rem;
}


