* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }

body {
    background-color: #F5F3F4;
    font-family: 'Montserrat', sans-serif; 
}
.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 92%;
}

#nav-bar {
    align-items: center;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0px -3px 16px 8px rgba(0,0,0,0.2); 
    box-shadow: 0px -3px 16px 8px rgba(0,0,0,0.2);
    display: flex;
    justify-content: space-between;
    padding: 1em 3em;
    text-transform: uppercase;
    width: 100%;
}

.nav-logo {
    align-items: center;
    display: flex;
    justify-content: center;
}

.logo {
    text-decoration: none;
    color: #A61C3C;
    font-size: 1.5rem;
    font-weight: 800;
    letter-spacing: .1rem;
}


.nav-links li {
    list-style: none;
    font-size: 1rem;
    font-weight: 600;
    margin: .5em;
}

.nav-links {
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.home-page {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-weight: 800;
    height: 100vh;
    justify-content: center;
    overflow: hidden;
    text-align: left;
    text-transform: uppercase;
    
}

.home-page p {
    font-weight: 600;
}

.animation-container {
    display: flex;
}

.txt-animation span {
    display: block;
    height: 100%;
    margin-left: 5px;
}

.txt-animation {
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    
}

.about-page {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    text-align: left;
}

.left-about-section {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
    text-align: center;

}

.right-about-section {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
}

.skill-box {
    align-items: center;
    display: flex;
    background-color: red;
    height: 2rem;
    justify-content: center;
    width: 10rem;
    text-transform: uppercase;
}





.project-page {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    text-align: left;
}

.contact-me {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    text-align: left;
}




