* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }

body {
    font-family: sans-serif;
    background-color: #F5F3F4;  
}
.container {
    width: 95%;
    height: 100%;
    margin: 0 auto;
}

#nav-bar {
    align-items: center;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    padding: 1em 3em;
    width: 100%;
}

.nav-logo {
    align-items: center;
    display: flex;
    justify-content: center;
}

.logo {
    text-decoration: none;
    color: #A61C3C;
    font-size: 2rem;
}


.nav-links li {
    list-style: none;
    margin: .5em;
}

.nav-links {
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.home-page {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    position: relative;
    text-align: left;
}




