* {
     margin: 0px;
     padding: 0px;
     box-sizing: border-box;
}

body {
    background-color: #080705;
    font-family: 'Montserrat', sans-serif;;
}

#fp-nav ul li a span, .fp-slidesNav ul li a span {
    background: #FFFFFA !important;
}

.my-logo {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 1.56rem;
}

.my-logo a {
    text-decoration: none;
    color: #912f40;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    min-height: 10vh;
    position: fixed;
    z-index: 1;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
    list-style: none;
    font-size: 1rem;
    font-weight: bolder;
}

.nav-links a {
    text-decoration: none;
    color: #FFFFFA;
}

.nav-links a:hover {
    color: #912f40;
}

.mobile-menu {
    display: none;
}

.mobile-menu div {
    width: 25px;
    height: 2px;
    background-color: #FFFFFA;
    margin: 5px;
    transition: all 0.3s ease;
}

.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 300px;
    color: #FFFFFA;
    text-transform: uppercase;
}

.home-container h1 {
    font-size: 3rem;
}

.about-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    width: 30vw;
    color: #FFFFFA;
}

.about-container h1 {
    text-transform: uppercase;
}

.about-container p {
    text-align: center;
}

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #FFFFFA;
}

.foot-container{
    margin: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.foot-container a {
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFA;
}



@media screen and (max-width: 768px){
    body {
        overflow-x: hidden;
        background-color: #080705;
    }
    .nav-links {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        right: 0px;
        height: 95vh;
        top: 8vh;
        transform: translateX(100%);
        background-color: #080705;
        transition: transfrom 0.5s ease-in;
        z-index: 999;
    }

    .nav-links li {
        opacity: 0;
    }

    .mobile-menu {
        display: block;
        cursor: pointer;
    }
    
    .home-container {
        height: 80vh;
        justify-content: center;
        align-items: center;
    }

    .about-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: auto;
    }

    .contact-container {
        flex-direction: column;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
     from {
         opacity: 0;
         transform: translateX(50px);
     }
     to {
         opacity: 1;
         transform: translateX(0px);
     }
}



 