* {
     margin: 0px;
     padding: 0px;
     box-sizing: border-box;
}

body {
    background-color: #131313;
    font-family: 'Montserrat', sans-serif;
}

#fp-nav ul li a span, .fp-slidesNav ul li a span {
    background: #FFFFFA !important;
}

.my-logo {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 1.56rem;
}

.my-logo a {
    text-decoration: none;
    color: #912f40;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    min-height: 10vh;
    position: fixed;
    z-index: 1;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
    list-style: none;
    font-size: 1rem;
    font-weight: bolder;
}

.nav-links a {
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFA;
}

.nav-links a:hover {
    color: #912f40;
}

#nav-menu li:active {
    color: #912f40;
}

.mobile-menu {
    display: none;
}

.mobile-menu div {
    width: 25px;
    height: 2px;
    background-color: #FFFFFA;
    margin: 5px;
    transition: all 0.3s ease;
}

.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 300px;
    color: #FFFFFA;
    text-transform: uppercase;
}

.home-container h1 {
    font-size: 3rem;
}

.about-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    color: #FFFFFA;
}

.about-container h1 {
    text-transform: uppercase;
    margin-bottom: 40px;
}

.about-container p {
    text-align: center;
    width: 600px;
    margin-top: 40px;
}

.about-container img {
    width: 10vw;
    height: auto;
}

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100vh;
    color: #080705;
}

form {
    background-color: #FFFFFA;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 1000px;
}

form input, form textarea {
    font-family: 'Montserrat', sans-serif;
    border: 0;
    margin: 10px 0px;
    padding: 10px;
    font-size: 1rem;
    background-color: #FFFFFA;
    box-shadow: inset 6px 6px 12px #f5f5f0,
    inset -6px -6px 12px #ffffff;

}

form button {
    width: 150px;
    margin: 20px auto 0;
    border: 0px;
    padding: 15px;
    border-radius: 10px;
    font-size: 1rem;
    outline: none;
    cursor: pointer;
    background: linear-gradient(145deg, #ffffff, #e6e6e1);
    box-shadow:  5px 5px 10px #e8e8e4,
             -5px -5px 10px #ffffff;

}

.foot-container{
    margin: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.foot-container a {
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFA;
}

.rightside {
   background-image: url(background.jpg);
   width: 90vw;
   height: 63vh;
   max-width: 600px;
   display: flex;
   align-items: center;
   flex-direction: row;
}




@media screen and (max-width: 768px){
    body {
        overflow-x: hidden;
        background-color: #131313;
    }

    nav {
        background-color: #131313   ;
    }
    .nav-links {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        right: 0px;
        height: 95vh;
        top: 8vh;
        transform: translateX(100%);
        background-color: #131313;
        
    }

    .nav-links li {
        opacity: 0;
    }

    .mobile-menu {
        display: block;
        cursor: pointer;
    }
    
    .home-container {
        height: 100vh;
        width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
      
    }

    .home-container h1 {
        font-size: 2.8rem;
    }

    .about-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    
    .about-container p {
        width: 300px;
    }

    .about-container img {
        height: auto;
        width: 35vw;
    }

    .contact-container {
        display: flex;
        flex-direction: column;
    }

    .contact-container form {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 600px;

    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
     from {
         opacity: 0;
         transform: translateX(50px);
     }
     to {
         opacity: 1;
         transform: translateX(0px);
     }
}



 