* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body, html {
    scroll-behavior: smooth;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 5rem;
    background-color: #131313;
    position: fixed;
    width: 100%;
    z-index: 999;

}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 1.8rem;
        font-weight: 700;
        text-transform: uppercase;
        padding: .5rem .5rem;
        color: #ED1C24;
    }

    .logo:hover {
        color: #F1D302;
    }
      
}

.nav-items {
    display: flex;
    justify-content: center;
    align-items: center;
    

    li {
        list-style: none;
    }

    a {
        text-decoration: none;
        padding: 2rem 3rem;
        text-transform: uppercase;
        font-weight: 700;
        text-align: center;
        font-size: 1.1rem;
        letter-spacing: 1px;
        color: #fff;
    }
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 1.5rem;
    height: .2rem;
    margin: .3rem auto;
    -webkit-transition: all 0.3 ease-in-out;
    transition: all 0.3 ease-in-out;
    background-color: black;
}
@media screen and(max-width: 786px){

    .nav-items {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        text-align: center;
        transition: 0.5s;
         
        li {
             margin: 2.5rem 0;
         }
    }
    .nav-items.active {
        left: 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}


.container {
    max-width: 120rem;
    width: 92%;
    margin: auto;
}

#home-page {
    height: 100vh;
    max-height: 120rem;
    background-color: #131313;
    position: relative;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.svg-background {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);

    svg {
        position: relative;
        width: calc(156% + 1.3px);
        height: 150px;
    }

    .shape-fill {
        fill: #fff;
    }
}

.home-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    text-transform: uppercase;

    span {
        font-weight: 700;
        font-size: 1.5rem;
    }

    h1 {
        font-weight: 700;
        font-size: 3rem;
    }
}
.about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10rem 0;
    text-align: center;

    p {
        width: 55%;
        font-size: 1.2rem;
        font-weight: 500;
        padding: 3rem 0; 
        border-top: 2px solid #131313;
    }

    h2 {
        margin-bottom: 3rem;
       
        
    }
}




